body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration:none;
    font-style: normal;
}

li{
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p{
margin-top: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden {
position: absolute !important;
clip: rect(1px 1px 1px 1px);
clip: rect(1px, 1px, 1px, 1px);
padding: 0 !important;
border: 0 !important;
height: 1px !important;
width: 1px !important;
overflow: hidden;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    }

/* хеадер */
/* header */
.top-navigation{
    display: flex;
}

.main-nav{
display: flex;
align-items: center;
}

.logo{
padding-top: 24px;
padding-bottom: 25px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
   
letter-spacing: 0.03em;
    
color: #000000;
}

.span-logo{
color: #2196F3;
}

/* Шапка сайту*/
.menu{
display: block;
padding-top: 32px;
padding-bottom: 32px;

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
}

.menu-list{
    display: flex;
    margin-left: 93px;
   
}

.menu-item{
    margin-left: 50px;
}

.list-contakts{
    display: flex;
    margin-left: auto;
}

.list-contakts >.item{
    margin-left: 50px;
}

.header-contakt{
display: block;
padding-top: 32px;
padding-bottom: 32px;

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}
    .link:hover,
.link:focus{
    color: #2196F3;
}